# Managed by Ansible
write-kubeconfig-mode: "0644"
node-name: "{{ inventory_hostname }}"

{% if rke2_node_type != 'head' and rke2_server_url is defined and rke2_server_url|length > 0 %}
server: "{{ rke2_server_url }}"
{% endif %}

{% if rke2_token_file is defined and rke2_token_file|length > 0 %}
token-file: "{{ rke2_token_file }}"
{% elif rke2_token is defined and rke2_token|length > 0 %}
token: "{{ rke2_token }}"
{% endif %}

{% if rke2_node_type in ['head','server'] and (rke2_taint_servers_no_workloads | default(true)) %}
node-taint:
{% for t in rke2_server_taints | default(['node-role.kubernetes.io/control-plane=true:NoSchedule']) %}
  - "{{ t }}"
{% endfor %}
{% endif %}

{% if rke2_node_type == 'agent' and (rke2_agent_labels | default({})) | length > 0 %}
node-label:
{% for k, v in rke2_agent_labels.items() %}
  - "{{ k }}={{ v }}"
{% endfor %}
{% endif %}