write-kubeconfig-mode: "0644"
node-name: "{{ inventory_hostname }}"

{% set join_url = rke2_server_url | default(hostvars['localhost'].rke2_server_url_shared | default('')) %}
{% set join_tok = rke2_token       | default(hostvars['localhost'].rke2_token_shared       | default('')) %}

{% if rke2_node_type in ['server','agent'] and rke2_node_type != 'head' %}
server: {{ join_url }}
token: {{ join_tok }}
{% endif %}

{% if rke2_node_type in ['head','server'] and rke2_taint_servers_no_workloads %}
node-taint:
{% for t in rke2_server_taints %}  - "{{ t }}"
{% endfor %}
{% endif %}

{% if rke2_node_type == 'agent' and (rke2_agent_labels|length > 0) %}
node-label:
{% for k,v in rke2_agent_labels.items() %}  - "{{ k }}={{ v }}"
{% endfor %}
{% endif %}